services:
  _defaults:
    autowire: true
    autoconfigure: true

  # Interface pour les générateurs d'ID
  MdavidDev\SymfonyCorrelationIdBundle\Service\Generator\CorrelationIdGeneratorInterface:
    class: MdavidDev\SymfonyCorrelationIdBundle\Service\Generator\UuidV4Generator

  # Générateur UUID v4 (par défaut)
  MdavidDev\SymfonyCorrelationIdBundle\Service\Generator\UuidV4Generator: ~

  # Service de stockage de l'ID de corrélation
  MdavidDev\SymfonyCorrelationIdBundle\Service\CorrelationIdStorage:
    arguments:
      $requestStack: '@request_stack'

  # Validateur d'ID de corrélation
  MdavidDev\SymfonyCorrelationIdBundle\Validator\CorrelationIdValidator:
    arguments:
      $enabled: '%correlation_id.validation.enabled%'
      $maxLength: '%correlation_id.validation.max_length%'
      $pattern: '%correlation_id.validation.pattern%'

  # Request Listener
  MdavidDev\SymfonyCorrelationIdBundle\EventListener\RequestListener:
    arguments:
      $storage: '@MdavidDev\SymfonyCorrelationIdBundle\Service\CorrelationIdStorage'
      $generator: '@MdavidDev\SymfonyCorrelationIdBundle\Service\Generator\CorrelationIdGeneratorInterface'
      $validator: '@MdavidDev\SymfonyCorrelationIdBundle\Validator\CorrelationIdValidator'
      $headerName: '%correlation_id.header_name%'
      $trustHeader: '%correlation_id.trust_header%'
    tags:
      - { name: kernel.event_subscriber }

  # Response Listener
  MdavidDev\SymfonyCorrelationIdBundle\EventListener\ResponseListener:
    arguments:
      $storage: '@MdavidDev\SymfonyCorrelationIdBundle\Service\CorrelationIdStorage'
      $headerName: '%correlation_id.header_name%'
    tags:
      - { name: kernel.event_subscriber }

  # Console Listener
  MdavidDev\SymfonyCorrelationIdBundle\EventListener\ConsoleListener:
    arguments:
      $storage: '@MdavidDev\SymfonyCorrelationIdBundle\Service\CorrelationIdStorage'
      $generator: '@MdavidDev\SymfonyCorrelationIdBundle\Service\Generator\CorrelationIdGeneratorInterface'
      $validator: '@MdavidDev\SymfonyCorrelationIdBundle\Validator\CorrelationIdValidator'
      $prefix: '%correlation_id.cli.prefix%'
      $allowEnvVar: '%correlation_id.cli.allow_env_var%'
    tags:
      - { name: kernel.event_subscriber }
